html,
body {
  font-family: "Roboto", sans-serif;
  padding: 0px;
  margin: 0px;
  background: white;
  /* height: 100%; */
  height: 100%;
}

html {
  position: relative;
  min-height: 100%;
  padding-bottom: 350px;
}

.navbar {
  z-index: 1;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadein 0.5s;
}

.widget-title {
  font-size: 5em;
  font-family: "Oswald", sans-serif;
}

.title-main {
  font-size: 3em;
  font-family: "Oswald", sans-serif;
}

.card-img-top {
  height: 210px;
}

.paragraph-text {
  color: #616161;
}

.carousel {
  width: 100%;
  min-width: 100%;
}

.carousel-inner {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 100%;
}

.carousel-fade .carousel-item {
  opacity: 0;
  transition-duration: 0.6s;
  transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
  opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
  transform: translateX(0);
  transform: translate3d(0, 0, 0);
}

.carousel-item-prev {
  display: block;
}

.carousel-item {
  position: relative !important;
}

.black-overlay {
  position: absolute;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.carousel-caption {
  position: absolute;
  margin: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.titolo-carousel {
  cursor: pointer;
}

#paragrafo-carousel {
  color: #f5f5f6;
  font-weight: 300;
}

.img-container {
  text-align: center;
}

.fa fa-envelope {
  font-weight: 400;
}

.paragraph-large {
  font-weight: 400;
  font-size: large;
  text-align: justify;
}

.paragraph-medium {
  font-weight: 400;
  font-size: medium;
}

.page-footer {
  position: relative;
  bottom: 0;
  width: 100%;
  box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.16), 0 -3px 6px rgba(0, 0, 0, 0.23);
  flex: 2;
  padding: 25px;
}

.page-footer .footer-copyright {
  font-weight: 300;
  color: #686868;
}

/* .card-img-top {
  height: 210px;
} */

#Bandimg {
  height: 150;
  width: 250;
}

.card:hover {
  transform: scale(1.1);
  transition: transform 0.25s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card {
  margin-bottom: 10px;
  margin-left: 7px;
  margin-right: 7px;
}

#titlecard {
  color: white;
}

div.card span {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #333;
  color: #fff;
}

div.card:hover span {
  display: block;
}

.contenuto-centrato{
  text-align:center;
}
#profileimg {
  border-radius: 50%;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#txtDiv {
  display: inline-block;
}

.dark-mode {
  filter: invert(1) hue-rotate(180deg);
}

.invert {
  filter: invert(1) hue-rotate(180deg);
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.img-container {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(../immagini/Band/lionel_richie.jpg) no-repeat center top;
  /* background-color: aqua; */
  z-index: -1;
  background-size: cover;
}